.el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .imageContainer {
    position: relative;
    width: 25vw;
    height: 25vh;
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
  &:nth-of-type(2) {
    .imageContainer {
      top: -32vh;
      left: -1.5vw;
      width: 22vw;
      height: 33vh;
    }
  }
  &:nth-of-type(3) {
    .imageContainer {
      top: -14.5vh;
      left: -23vw;
      width: 18vw;
      height: 53vh;
    }
  }
  &:nth-of-type(4) {
    .imageContainer {
      left: 24vw;
      width: 20vw;
      height: 50vh;
      top: 12.5vh;
    }
  }
  &:nth-of-type(5) {
    .imageContainer {
      top: 29vh;
      left: 4vw;
      width: 17vw;
      height: 27vh;
    }
  }
  &:nth-of-type(6) {
    .imageContainer {
      top: 31vh;
      left: -15.5vw;
      width: 18.5vw;
      height: 31vh;
    }
  }
  &:nth-of-type(7) {
    .imageContainer {
      top: -29.5vh;
      left: 18.5vw;
      width: 15vw;
      height: 27vh;
    }
  }
}
