.mobileNav {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 16px 16px 0 0;
  border-radius: 100%;
  z-index: 1005;

  .bgMobileNav {
    width: 100%;
    height: 50px;
    z-index: 0;
    position: absolute;
    transition: all 0.5s;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0 0;
  }
  .burger {
    width: 100%;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;

      position: absolute;
      transition: transform 0.3s;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }
    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }

  &:hover {
    .bgMobileNav {
      background-size: 200% 200%;
    }
  }
}

@media (min-width: 640px) {
  .mobileNav {
    height: 80px;
    width: 80px;
    .bgMobileNav {
      height: 80px;
    }
    .burger {
      &::after {
        top: -10px;
      }

      &::before {
        top: 10px;
      }
    }
    .burgerActive {
      &::after {
        transform: rotate(45deg);
        top: -1px;
      }
      &::before {
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
}
